/*removes the margin off everything */
*{
    margin: 0%;
}

/*sets a base font and sets the background colour under all the elements to be the same as the header and footer*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(55,55,55);
}

/*Styles text inside an anchor tag*/
a{
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(255, 255, 255);
}

/*Sets up the animation for the sliding background*/
@-webkit-keyframes slide { /* defines the sliding background */
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

/*Bootstrap Navbar below adapted from https://codepen.io/Rafikadir/pen/zYxGoGM  */
/* --------- START NAVBAR CSS -------- */
.top-navbar {
    background-color: rgb(55,55,55);
    padding: 10px 0;
}
.navbar-light .navbar-brand {
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link{ 
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#fff !important;
    margin: 0 15px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
    color: #BABABC  !important;
}

.logo{
    font-family: 'Montserrat', sans-serif;
}

/*
================== RESPONSIVE ==================
*/
@media (max-width: 768px) {
   .navbar-light .navbar-toggler {
    background: #fff !important;
    }

    .cv h1{
        font-size: 18px;
        font-weight: bold;
    }
    .cv h2{
        font-size: 12px;
    }

    .contact h1{
        font-size: 25px;
    }
    .contact h2{
        font-size: 20px;
    }

    .portfolio h1{
        font-size: 25px;
    }
    .portfolio h2{
        font-size: 20px;
    }
   
}
@media (max-width: 992px) {
   .navbar-light .navbar-toggler {
    background: #fff !important;
    }
    
}
/*Bootstrap Navbar above adapted from https://codepen.io/Rafikadir/pen/zYxGoGM  */




.grid{ /* This is creating the template for the grid used as the main body of the landing page */
    display: grid;
    overflow: hidden;
    grid-template-rows: 50px 75vh 50px;
    grid-template-columns: 50px 10% auto 10% 50px;
    max-height: 85vh;
    background: rgb(55,55,55) url(https://subtlepatterns.com/patterns/webb.png) repeat 0 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-animation: slide 35s linear infinite;
}

.grid img{ /* ajusts size of images on the index grid */
    height: 200px;
    width: 200px;
}

/*Styles the drop down menu on the options icon*/
.dropdown-menu{
    padding:15px;
}

.footer{ /* This is the styling for the footer used on every page*/
    display: grid;
    grid-template-rows: 15px auto 15px;
    grid-template-columns: 15px auto;
    background-color: rgb(55,55,55);
}


.links{ /* Positions social links on footer */
    grid-column: 3;
    grid-row: 2;
    position: relative;
}

.github{ /* Resizes github icon*/
    width: 45px;
    height: 45px;
}
.github:hover{ /* Inverts github icon colour */
    filter: invert(1);
}

.linkedin{ /* Resizes linkedin icon */
    width: 45px;
    height: 45px;
}
.linkedin:hover{ /* Inverts linkedin icon colour*/
    filter: invert(1);
}

.mail{ /* Resizes mail icon */
    width: 45px;
    height: 45px;
}
.mail:hover{ /* Inverts mail icon colour*/
    filter: invert(1);
}

.stackoverflow{ /* Resizes stack icon */
    width: 45px;
    height: 45px;
}
.stackoverflow:hover{ /* Inverts stack icon colour */
    filter: invert(1);
}

.pic{ /* Positions profile pic on landing page */
    text-align: center;
    margin: auto;
    grid-column: 3;
    grid-row: 2;
    color: rgb(55,55,55);
}

.profile-pic{ /*creates circle border for profile pic */
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}

.profile-pic:hover{ /* Grayscales profile pic on hover */
    filter: grayscale(1);
}

/*Styles buttons*/
.btn{
    background: transparent;
    border: 0;
}
.btn:hover{
    background: transparent;
    border: 0;
}

.dropdown{
    background-color: transparent;
}
.dropdown:hover{
    background-color: transparent;
}

/*Styles the font awesome settings icon */
.fa-cog{
    color: rgb(55,55,55);
}
.fa-cog:hover{
    color: rgb(55,55,55);
}

.contact{ /* This is creating the template for the grid used as the main body of the contact page */
    display: grid;
    overflow: hidden;
    grid-template-rows: 25px 10vh 10vh 60vh 25px;
    grid-template-columns: 25px 25vw auto 25vw 25px;
    max-height: 85vh;
    background: rgb(55,55,55) url(https://subtlepatterns.com/patterns/webb.png) repeat 0 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-animation: slide 35s linear infinite;
}

/*Positions the titles on the contact page grid*/
.contacttitle{
    grid-row: 2;
    grid-column: 3;
    margin: auto;
    text-align: center;
}

/*Positions the contact forms on the grid*/
.contactnames{
    grid-row: 4;
    grid-column: 3;
}

/*Positions the contact button on the grid*/
.emailme{
    grid-row: 3;
    grid-column: 3;
    margin: auto;
    text-align: center;
}

/*Stops the textarea on the contact page from being resized by the user*/
textarea {
    resize: none;
 }


 .cv{ /* creates grid used on main cv page */
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-rows: 25px 40vh auto 22vh 25px;
    background: rgb(55,55,55) url(https://subtlepatterns.com/patterns/webb.png) repeat 0 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-animation: slide 35s linear infinite;
}

/*Positions the title on the cv page*/
.resumetitles{
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    margin-top: auto;
}

/*Positions the description of the cv page on the page*/
.resumedesc{
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    margin-top: auto;
}

/*Styles the buttons on the resume page*/
.resumetitles .btn{
    background-color: rgb(55,55,55);
    color: rgb(255,255,255);
    margin-top: auto;
}
.resumetitles .btn:hover{
    background-color: rgb(100,100,100);
    color: rgb(255,255,255);
    margin-top: auto;
}

/*Positions the bootstrap card on the cv page*/
.infocard{
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}
/*Positions the interact buttons on the cv page*/
.submitbutton{
    background-color: rgb(55,55,55);
    color: rgb(255,255,255);
}
.submitbutton:hover{
    background-color: rgb(100,100,100);
    color: rgb(255,255,255);
}

.portfolio{ /* creates grid used on main portfolio page */
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 20vh auto 20vh;
    background: rgb(55,55,55) url(https://subtlepatterns.com/patterns/webb.png) repeat 0 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-animation: slide 35s linear infinite;
}
 
/*Positions the grid of cards onto the center of the portfolio page*/
.projects{
    grid-row: 2;
    grid-column: 2;
}

/*Positions the  title of the portfolio page*/
.portfoliotitle{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    margin-top: 5vh;
}

/* Start of Spinner Preloader adapted from: https://codepen.io/AlinEnache/pen/BaowaBy */

#loader-wrapper {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }
  #loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:3px solid transparent;
    border-top-color:white;
    border-radius:100%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index:1001;
  }
  #loader:before {
    content:"";
    position: absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px solid transparent;
    border-top-color: rgb(255, 255, 255);
    border-radius:100%;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content:"";
    position: absolute;
    top:12px;
    left:12px;
    right:12px;
    bottom:12px;
    border:3px solid transparent;
    border-top-color:rgb(255, 255, 255);
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  
  #loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background:#333;
    width:51%;
    height:100%;
    z-index:1000;
  }
  
  #loader-wrapper .loader-section.section-left {
    left:0
  }
  #loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */
  .loaded #loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }

  /* End of Spinner Preloader adapted from: https://codepen.io/AlinEnache/pen/BaowaBy */